DATABASE_URL="postgresql://postgres:yamin1212@localhost:5432/ramadan?schema=public"
PORT=3000
APP_TIMEZONE="Africa/Cairo"
PRAYER_TIMES_BASE_URL="https://api.aladhan.com/v1"
PRAYER_TIMES_CITY="Cairo"
PRAYER_TIMES_COUNTRY="Egypt"
PRAYER_TIMES_METHOD=5